body{
    background-color: black;
}
#mycanvas{
    background-image: url("Assets/backg.jfif"); 
    border:20px solid grey;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    margin-left: 500px;
    /*background-color: white; */
}
#btn{
    height: 450 px;
    width: 150px;
    align-content: center;
    background-color: brown;
    color: cornsilk;
    text-size-adjust: 20px;
    padding: 20;
}